body,html {
    height: 100%;
  }

body {
    background-image: url("/images/analogue-data-disc-117729.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    
  }

.jumbotron{
    color: white;
    background-color: rgba(0,0,0,0.4)
}

.navbar a{
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.1)
}
.navbar a:hover{
  color: #000;
  background-color:#e7e7e7;
}


.button{
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.7s;
}

.button:hover{
  color: #000;
  background-color:#e7e7e7;
}

